composer.phar
/vendor/
/nbproject/private/
/.env
/composer.lock
/nbproject/
/tests/.phpunit.result.cache
.vscode/settings.json
/.php-cs-fixer.cache
/.vscode/
/.phpunit.result.cache
/src/.php-cs-fixer.cache
/.phpunit.cache/
/.build/
/debian/php-spojenet-realpad-takeout/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/php-spojenet-realpad-takeout.debhelper.log
/debian/php-spojenet-realpad-takeout.substvars
