Source: php-spojenet-realpad-takeout
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils
Standards-Version: 4.5.1
Homepage: https://github.com/Spoje-NET/PHP-Realpad-Takeout
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/php-spojenet-realpad-takeout.git
#Vcs-Browser: https://salsa.debian.org/debian/php-spojenet-realpad-takeout

Package: php-spojenet-realpad-takeout
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Realpad Takeout API Client to back up the data stored in the system.
 Use the Realpad Takeout API to back up the data stored in the system. 
 Both structured data (such as lists of customers, deals, etc) and files uploaded 
 to the CRM (unit plans, contract scans, ...) can be automatically retrieved this way.
